
VBPieChart.xcodeproj/project.xcworkspace/xcshareddata/VBPieChart.xccheckout

VBPieChart.xcodeproj/project.xcworkspace/xcuserdata/sakrist.xcuserdatad/UserInterfaceState.xcuserstate

VBPieChart.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

VBPieChart.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcschemes/VBPieChart.xcscheme

VBPieChart.xcodeproj/xcuserdata/sakrist.xcuserdatad/xcschemes/xcschememanagement.plist
